body{
    background-color: rgba(0, 0, 0, 0.893);
    background-image: url(img/pexels-pixabay-159400.png);
    background-size: 100%;
    background-repeat: no-repeat;  
    margin: auto; 
}

@font-face{
    font-family: Myriad_Pro_Light;
    src: url(/font/MyriadPro-Light.otf);
}
@font-face{
    font-family: Myriad_Pro_Regular;
    src: url(/font/MYRIADPRO-REGULAR.OTF);
}


.barra{
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5vw;
    font-family: Myriad_Pro_Regular;
    font-weight: bolder;
}
#menuHambur{
    display: none;
}
.menu-icon{
    display: none;
}
/*menu*/

#per{
    display: none;
}
a {
    text-decoration: none;
}

.menuPerfil{
    position: absolute;
    background-color: lightgray;
    background-position: 8vw 0.5vw ;
    border-radius: 2vw;
    height: 0vw;
    width: 3vw;
    top: 5.5vw;
    right: 1vw;
    overflow: hidden;
    font-size: 2vw;
    z-index: 1;
}
hr{
    margin-left: 2vw;
    margin-right: 2vw;
}

.menuPerfil a{
    font-size: 2vw;
    color: black;
    margin-left: 2vw;
    margin-top: 1vw;
    display: block;
}

#per:checked ~ .menuPerfil{
    height: 14vw;
    width: 15vw;
    transition: 0.2s;
}
.fotoPerfil{
    position: absolute;
    top: 0.8vw;
    width: 3.3vw;
    height: 3.3vw;
    right: 1vw;
}
/*final*/
.karioBarra{
    position: absolute;
    width: 2vw;
    height: 2vw;
    left: 48vw;
}
.karioBarra2{
    display: none;
}
.añadir-img{
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    top: 1.8vw;
    left: 10vw;
}
.añadir{
    position: absolute;
    color: black;
    left: 12vw;
    top: 0.8vw;
    font-size: 1.1vw;
}
.Refrescar-img{
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    top: 1.8vw;
    left: 22vw;
}
.Refrescar{
    position: absolute;
    color: black;
    left: 24vw;
    top: 0.8vw;
    font-size: 1.1vw;
}
.Eliminar-img{
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    top: 1.8vw;
    left: 34vw;
}
.Eliminar{
    position: absolute;
    color: black;
    left: 36vw;
    top: 0.8vw;
    font-size: 1.1vw;
}
.Reportar-img{
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    top: 1.8vw;
    left: 62vw;
}
.Reportar{
    position: absolute;
    color: black;
    left: 64vw;
    top: 0.8vw;
    font-size: 1.1vw;
}
.Ayuda-img{
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    top: 1.8vw;
    left: 76vw;
}
.Ayuda{
    position: absolute;
    color: black;
    left: 78vw;
    top: 0.8vw;
    font-size: 1.1vw;
}
.opciones{
    top: 2vw;
    position: absolute;
    width: 1.1vw;
    height: 1.1vw;
    right: 8vw;
}
.notificaciones{
    top: 2vw;
    position: absolute;
    width: 1vw;
    height: 1vw;
    right: 6vw;
}
.linea{
    position: absolute;
    width: 100%;
    height: 0.18vw;
    background: #FC6F1E;
}
.kari-logo{
    position: absolute;
    width: 10vw;
    height: 10vw;
    opacity: 50%;
    top:20vw ;
    left: 45vw;
}
.text-ayuda{
    position: absolute;
    color: white;
    font-size: 2.2vw;
    top: 4vw ;
    left: 46.4vw;
    font-family: Myriad_Pro_Regular;
}
.text-modulo{
    position: absolute;
    color: white;
    font-size: 1.1vw;
    font-family: Myriad_Pro_Light;
    top: 9vw ;
    left: 29.5vw;
    text-align: center;
}
.cuadro1{
    position: absolute;
    top: 16vw;
    left: 14vw;
    background: white;
    width: 25vw;
    height: 15vw;
    border-radius: 2vw;
    border-color: #FC6F1E;
    border-style: solid;
    cursor: pointer;
}
.cuadro2{
    position: absolute;
    top: 16vw;
    background-color: white;
    position: absolute;
    width: 25vw;
    height: 15vw;
    left: 61vw;
    border-radius: 2vw;
    border-color: #FC6F1E;
    border-style: solid;
    cursor: pointer;
}
.cuadro3{
    position: absolute;
    top: 35vw;
    background-color: white;
    position: absolute;
    width: 25vw;
    height: 15vw;
    left: 37.6vw;
    border-radius: 2vw;
    border-color: #FC6F1E;
    border-style: solid;
    cursor: pointer;
}
.imagen-cuadro1{
    position: absolute;
    top: 0.4vw ;
    left: 10.5vw;
    width: 4vw;
    height: 4vw;
}
.text-cuadro1{
    position: absolute;
    top: 3vw ;
    left: 7.5vw;
    font-family: Myriad_Pro_Regular;
    font-size: 1.6vw;
    color: #FC6F1E;
}
.text-cuadro2{
    position: absolute;
    top: 3vw ;
    left: 10.65vw;
    font-family: Myriad_Pro_Regular;
    font-size: 1.6vw;
    color: #FC6F1E;
}
.text-cuadro3{
    position: absolute;
    top: 3vw ;
    left: 8.7vw;
    font-family: Myriad_Pro_Regular;
    font-size: 1.6vw;
    color: #FC6F1E;
}
.text-cuadro11{
    position: absolute;
    top: 6.5vw ;
    left: 2.8vw;
    font-size: 1.1vw;
    font-family: Myriad_Pro_Light;
    text-align: center;
    width: 20vw;
}
.text-cuadro22{
    position: absolute;
    top: 6.5vw ;
    left: 2.8vw;
    font-size: 1.1vw;
    font-family: Myriad_Pro_Light;
    text-align: center;
    width: 20vw;
}
.text-cuadro33{
    position: absolute;
    top: 6.5vw ;
    left: 2.8vw;
    font-size: 1.1vw;
    font-family: Myriad_Pro_Light;
    text-align: center;
    width: 20vw;
}

@media only screen and (max-width: 768px){
    body {
        font-size: 14px;
        margin: 0;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.893);
        background-image: url(img/pexels-pixabay-159400.png);
        background-size: 100%;
        background-repeat: repeat;
    }
    .barra-blanca{
        position: fixed;
        width: 100%;
        height: 15vw;
        top: 0.1vw;
        background: white;
        z-index: 1;
    }
    #menuHambur {
        display: none;
    }

    .menu-icon {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        font-size: 60px;
        z-index: 1001;
        cursor: pointer;
        background: white;
        padding: 5px 10px;
        border-radius: 5px;
    }

    .contenedor {
        width: 100%;
        overflow-x: hidden;
    }

    .barra {
        position: fixed;
        top: 0;
        left: -80%;
        width: 80%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.893);
        background-image: url(img/pexels-pixabay-159400.png);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 50px;
        transition: 0.3s;
        z-index: 1000;
        overflow-y: auto;
        box-shadow: 2px 0 5px rgba(0,0,0,0.1);
        font-weight: lighter;
    }

    #menuHambur:checked ~ .contenedor .barra {
        left: 0;
    }
    .linea{
        position: fixed;
        width: 100%;
        top: 15vw;
        height: 3px;
        background: #FC6F1E;
        z-index: 1;
    }

    .añadir-img{
        position:absolute;
        top: 14vw;
        left: 5vw;
        width: 6vw;
        height: 6vw;
    }
    .Refrescar-img{
        position:absolute;
        top: 25vw;
        left: 5vw;
        width: 6vw;
        height: 6vw;
    }
    .Eliminar-img{
        position:absolute;
        top: 36vw;
        left: 5vw;
        width: 6vw;
        height: 6vw;
    }
    .Reportar-img{
        position:absolute;
        top: 47vw;
        left: 5vw;
        width: 6vw;
        height: 6vw;
    }
    .Ayuda-img{
        position:absolute;
        top: 57vw;
        left: 5vw;
        width: 6vw;
        height: 6vw;
    }
    .añadir{
        position:absolute;
        top: 10.5vw;
        left: 13vw;
        width: 6vw;
        height: 6vw;
        font-size: 4vw;
        color: white;
    }
    .Refrescar{
        position:absolute;
        top: 21.5vw;
        left: 13vw;
        width: 6vw;
        height: 6vw;
        font-size: 4vw;
        color: white;
    }
    .Eliminar{
        position:absolute;
        top: 32.5vw;
        left: 13vw;
        width: 6vw;
        height: 6vw;
        font-size: 4vw;
        color: white;
    }
    .Reportar{
        position:absolute;
        top: 43.5vw;
        left: 13vw;
        width: 6vw;
        height: 6vw;
        font-size: 4vw;
        color: white;
    }
    .Ayuda{
        position:absolute;
        top: 54vw;
        left: 13vw;
        width: 6vw;
        height: 6vw;
        font-size: 4vw;
        color: white;
    }
    .karioBarra{
        position: absolute;
        width: 30vw;
        height: 30vw;
        opacity: 50%;
        top: 20vw;
        left: 30vw;
    }
    .opciones{
        position:fixed;
        top: 5.5vw;
        left: 72vw;
        width: 4vw;
        height: 4vw;
        z-index: 1;
    }
    .notificaciones{
        position:fixed;
        top: 5.5vw;
        left: 80vw;
        width: 4vw;
        height: 4vw;
        z-index: 1;
    }
    .perfil {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 1002;
    }

    .fotoPerfil {
        width: 90px;
        height: 90px;
        border-radius: 50%;
    }

    .menuPerfil{
        position: absolute;
        background-color: lightgray;
        background-position: 8vw 0.5vw ;
        border-radius: 2vw;
        height: 0vw;
        width: 3vw;
        top: 15vw;
        right: 1vw;
        overflow: hidden;
        font-size: 5vw;
        z-index: 1;
        font-weight: bold;
        font-family: Myriad_Pro_Regular;
    }

    #per:checked ~ .menuPerfil {
        display: block;
        width: 30vw;
        height: 30vw;
    }

    .menuPerfil a{
        font-size: 4vw;
        color: black;
        margin-left: 2vw;
        margin-top: 1vw;
        display: block;
    }
    .karioBarra2{
        position: fixed;
        display: block;
        width: 7vw;
        height: 7vw;
        left: 48vw;
        top: 4vw;
        z-index: 1;
    }
    .text-ayuda{
        position: absolute;
        color: white;
        font-size: 6vw;
        top: 12vw ;
        left: 44vw;
        font-family: Myriad_Pro_Regular;
    }
    .text-modulo{
        position: absolute;
        color: white;
        font-size: 3.8vw;
        font-family: Myriad_Pro_Light;
        top: 27vw ;
        left: 2vw;
        text-align: center;
    }
    .cuadro1{
        position: absolute;
        top: 50vw;
        left: 15vw;
        background: white;
        width: 68vw;
        height: 34vw;
        border-radius: 2vw;
        border-color: #FC6F1E;
        border-style: solid;
        cursor: pointer;
    }
    .cuadro2{
        position: absolute;
        top: 35vw;
        top: 89vw;
        left: 15vw;
        background-color: white;
        position: absolute;
        width: 68vw;
        height: 34vw;
        border-radius: 2vw;
        border-color: #FC6F1E;
        border-style: solid;
        cursor: pointer;
    }
    .cuadro3{
        position: absolute;
        top: 128vw;
        left: 15vw;
        background-color: white;
        position: absolute;
        width: 68vw;
        height: 34vw;
        border-radius: 2vw;
        border-color: #FC6F1E;
        border-style: solid;
        cursor: pointer;
    }
    .imagen-cuadro1{
        position: absolute;
        top: 0.2vw ;
        left: 29vw;
        width: 10vw;
        height: 10vw;
    }
    .text-cuadro1{
        position: absolute;
        top: 7vw ;
        left: 23vw;
        font-family: Myriad_Pro_Regular;
        font-size: 3.5vw;
        color: #FC6F1E;
    }
    .text-cuadro2{
        position: absolute;
        top: 8vw ;
        left: 30vw;
        font-family: Myriad_Pro_Regular;
        font-size: 3.5vw;
        color: #FC6F1E;
    }
    .text-cuadro3{
        position: absolute;
        top: 8vw ;
        left: 25.5vw;
        font-family: Myriad_Pro_Regular;
        font-size: 3.5vw;
        color: #FC6F1E;
    }
    .text-cuadro11{
        position: absolute;
        top: 13vw ;
        left: 10vw;
        font-size: 3vw;
        font-family: Myriad_Pro_Light;
        text-align: center;
        width: 50vw;
    }
    .text-cuadro22{
        position: absolute;
        top: 15vw ;
        left: 9vw;
        font-size: 3vw;
        font-family: Myriad_Pro_Light;
        text-align: center;
        width: 50vw;
    }
    .text-cuadro33{
        position: absolute;
        top: 15vw ;
        left: 9vw;
        font-size: 3vw;
        font-family: Myriad_Pro_Light;
        text-align: center;
        width: 50vw;
    }
    .kari-logo{
        display: none;
    }
    .text-ayuda{
        position: absolute;
        color: white;
        font-size: 6vw;
        top: 12vw ;
        left: 44vw;
        font-family: Myriad_Pro_Regular;
    }
    .text-modulo{
        position: absolute;
        color: white;
        font-size: 3.8vw;
        font-family: Myriad_Pro_Light;
        top: 27vw ;
        left: 2vw;
        text-align: center;
    }
    .cuadro1{
        position: absolute;
        top: 50vw;
        left: 15vw;
        background: white;
        width: 68vw;
        height: 34vw;
        border-radius: 2vw;
        border-color: #FC6F1E;
        border-style: solid;
        cursor: pointer;
    }
    .cuadro2{
        position: absolute;
        top: 35vw;
        top: 89vw;
        left: 15vw;
        background-color: white;
        position: absolute;
        width: 68vw;
        height: 34vw;
        border-radius: 2vw;
        border-color: #FC6F1E;
        border-style: solid;
        cursor: pointer;
    }
    .cuadro3{
        position: absolute;
        top: 128vw;
        left: 15vw;
        background-color: white;
        position: absolute;
        width: 68vw;
        height: 34vw;
        border-radius: 2vw;
        border-color: #FC6F1E;
        border-style: solid;
        cursor: pointer;
    }
    .imagen-cuadro1{
        position: absolute;
        top: 0.2vw ;
        left: 29vw;
        width: 10vw;
        height: 10vw;
    }
    .text-cuadro1{
        position: absolute;
        top: 7vw ;
        left: 23vw;
        font-family: Myriad_Pro_Regular;
        font-size: 3.5vw;
        color: #FC6F1E;
    }
    .text-cuadro2{
        position: absolute;
        top: 8vw ;
        left: 30vw;
        font-family: Myriad_Pro_Regular;
        font-size: 3.5vw;
        color: #FC6F1E;
    }
    .text-cuadro3{
        position: absolute;
        top: 8vw ;
        left: 25.5vw;
        font-family: Myriad_Pro_Regular;
        font-size: 3.5vw;
        color: #FC6F1E;
    }
    .text-cuadro11{
        position: absolute;
        top: 13vw ;
        left: 10vw;
        font-size: 3vw;
        font-family: Myriad_Pro_Light;
        text-align: center;
        width: 50vw;
    }
    .text-cuadro22{
        position: absolute;
        top: 15vw ;
        left: 9vw;
        font-size: 3vw;
        font-family: Myriad_Pro_Light;
        text-align: center;
        width: 50vw;
    }
    .text-cuadro33{
        position: absolute;
        top: 15vw ;
        left: 9vw;
        font-size: 3vw;
        font-family: Myriad_Pro_Light;
        text-align: center;
        width: 50vw;
    }
    .kari-logo{
        display: none;
    }
    
}
@media only screen and (max-width: 432px) {
    body {
        font-size: 14px;
        margin: 0;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.893);
        background-image: url(img/pexels-pixabay-159400.png);
        background-size: 100%;
        background-repeat: repeat;
    }
    .barra-blanca{
        position: absolute;
        width: 100%;
        height: 15vw;
        top: 0.1vw;
        background: white;
    }
    #menuHambur{
        display: none;
    }

    .menu-icon {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        font-size: 24px;
        z-index: 1001;
        cursor: pointer;
        background: white;
        padding: 5px 10px;
        border-radius: 5px;
    }

    .contenedor {
        width: 100%;
        overflow-x: hidden;
    }

    .barra {
        position: fixed;
        top: 0;
        left: -80%;
        width: 80%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.893);
        background-image: url(img/pexels-pixabay-159400.png);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 50px;
        transition: 0.3s;
        z-index: 1000;
        overflow-y: auto;
        box-shadow: 2px 0 5px rgba(0,0,0,0.1);
        font-weight: lighter;
    }

    #menuHambur:checked ~ .contenedor .barra {
        left: 0;
    }
    .linea{
        position: absolute;
        width: 100%;
        top: 15vw;
        height: 3px;
        background: #FC6F1E;
    }

    .añadir-img{
        position:absolute;
        top: 14vw;
        left: 5vw;
        width: 6vw;
        height: 6vw;
    }
    .Refrescar-img{
        position:absolute;
        top: 25vw;
        left: 5vw;
        width: 6vw;
        height: 6vw;
    }
    .Eliminar-img{
        position:absolute;
        top: 36vw;
        left: 5vw;
        width: 6vw;
        height: 6vw;
    }
    .Reportar-img{
        position:absolute;
        top: 47vw;
        left: 5vw;
        width: 6vw;
        height: 6vw;
    }
    .Ayuda-img{
        position:absolute;
        top: 57vw;
        left: 5vw;
        width: 6vw;
        height: 6vw;
    }
    .añadir{
        position:absolute;
        top: 10.5vw;
        left: 13vw;
        width: 6vw;
        height: 6vw;
        font-size: 4vw;
        color: white;
    }
    .Refrescar{
        position:absolute;
        top: 21.5vw;
        left: 13vw;
        width: 6vw;
        height: 6vw;
        font-size: 4vw;
        color: white;
    }
    .Eliminar{
        position:absolute;
        top: 32.5vw;
        left: 13vw;
        width: 6vw;
        height: 6vw;
        font-size: 4vw;
        color: white;
    }
    .Reportar{
        position:absolute;
        top: 43.5vw;
        left: 13vw;
        width: 6vw;
        height: 6vw;
        font-size: 4vw;
        color: white;
    }
    .Ayuda{
        position:absolute;
        top: 54vw;
        left: 13vw;
        width: 6vw;
        height: 6vw;
        font-size: 4vw;
        color: white;
    }
    .karioBarra{
        position: absolute;
        width: 30vw;
        height: 30vw;
        opacity: 50%;
        top: 20vw;
        left: 30vw;
    }
    .opciones{
        position:absolute;
        top: 5.5vw;
        left: 72vw;
        width: 4vw;
        height: 4vw;
    }
    .notificaciones{
        position:absolute;
        top: 5.5vw;
        left: 80vw;
        width: 4vw;
        height: 4vw;
    }
    .perfil {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 1002;
    }

    .fotoPerfil {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .menuPerfil{
        position: absolute;
        background-color: lightgray;
        background-position: 8vw 0.5vw ;
        border-radius: 2vw;
        height: 0vw;
        width: 3vw;
        top: 15vw;
        right: 1vw;
        overflow: hidden;
        font-size: 5vw;
        z-index: 1;
        font-weight: bold;
        font-family: Myriad_Pro_Regular;
    }

    #per:checked ~ .menuPerfil {
        display: block;
        width: 30vw;
        height: 30vw;
    }

    .menuPerfil a{
        font-size: 4vw;
        color: black;
        margin-left: 2vw;
        margin-top: 1vw;
        display: block;
    }
    .karioBarra2{
        position: absolute;
        display: block;
        width: 7vw;
        height: 7vw;
        left: 48vw;
        top: 4vw;
    }
    .text-ayuda{
        position: absolute;
        color: white;
        font-size: 6vw;
        top: 12vw ;
        left: 44vw;
        font-family: Myriad_Pro_Regular;
    }
    .text-modulo{
        position: absolute;
        color: white;
        font-size: 3.8vw;
        font-family: Myriad_Pro_Light;
        top: 27vw ;
        left: 2vw;
        text-align: center;
    }
    .cuadro1{
        position: absolute;
        top: 50vw;
        left: 15vw;
        background: white;
        width: 68vw;
        height: 34vw;
        border-radius: 2vw;
        border-color: #FC6F1E;
        border-style: solid;
        cursor: pointer;
    }
    .cuadro2{
        position: absolute;
        top: 35vw;
        top: 89vw;
        left: 15vw;
        background-color: white;
        position: absolute;
        width: 68vw;
        height: 34vw;
        border-radius: 2vw;
        border-color: #FC6F1E;
        border-style: solid;
        cursor: pointer;
    }
    .cuadro3{
        position: absolute;
        top: 128vw;
        left: 15vw;
        background-color: white;
        position: absolute;
        width: 68vw;
        height: 34vw;
        border-radius: 2vw;
        border-color: #FC6F1E;
        border-style: solid;
        cursor: pointer;
    }
    .imagen-cuadro1{
        position: absolute;
        top: 0.2vw ;
        left: 29vw;
        width: 10vw;
        height: 10vw;
    }
    .text-cuadro1{
        position: absolute;
        top: 7vw ;
        left: 23vw;
        font-family: Myriad_Pro_Regular;
        font-size: 3.5vw;
        color: #FC6F1E;
    }
    .text-cuadro2{
        position: absolute;
        top: 8vw ;
        left: 30vw;
        font-family: Myriad_Pro_Regular;
        font-size: 3.5vw;
        color: #FC6F1E;
    }
    .text-cuadro3{
        position: absolute;
        top: 8vw ;
        left: 25.5vw;
        font-family: Myriad_Pro_Regular;
        font-size: 3.5vw;
        color: #FC6F1E;
    }
    .text-cuadro11{
        position: absolute;
        top: 13vw ;
        left: 10vw;
        font-size: 3vw;
        font-family: Myriad_Pro_Light;
        text-align: center;
        width: 50vw;
    }
    .text-cuadro22{
        position: absolute;
        top: 15vw ;
        left: 9vw;
        font-size: 3vw;
        font-family: Myriad_Pro_Light;
        text-align: center;
        width: 50vw;
    }
    .text-cuadro33{
        position: absolute;
        top: 15vw ;
        left: 9vw;
        font-size: 3vw;
        font-family: Myriad_Pro_Light;
        text-align: center;
        width: 50vw;
    }
    .kari-logo{
        display: none;
    }
    
}

