body{
    background-color: black;
    background-image: url(img/pexels-pixabay-159400.png);
    background-size: 100%;
    background-repeat: no-repeat; 
    margin: auto;
}

@font-face{
    font-family: Myriad_Pro_Light;
    src: url(/font/MyriadPro-Light.otf);
}
@font-face{
    font-family: Myriad_Pro_Regular;
    src: url(/font/MYRIADPRO-REGULAR.OTF);
}


.barra{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5vw;
}
.linea{
    width: 100%;
    height: 0.2vw;
    background-color: #FC6F1E;
}

.barra a{
    font-family: Myriad_Pro_Regular;
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
    font-weight: bolder;
    display: flex;
    align-items: center;
}

.a, .r, .e, .r2, .a2{
    width: 2vw;
    margin-right: 1vw;
}

.perfil{
   display: flex;
    
   
   
}

.karioBarra{
    width: 2.5vw;
}

.opciones{
    width: 1.5vw;
    margin-right: 1.5vw;
}

.notificaciones{
    width: 1.5vw;
    margin-right: 1.5vw;
}

.fotoPerfil{
    width: 4vw;
    
}

.karioLogo img{
    margin-top: 10vw;
    /*margin-left: -10vw;*/
    opacity: 50%;
    width: 10vw;
    height: 10vw;


}

#per{
    display: none;
}

.perf{
    height: 0vw;
}