body {
    background-color: black;
    background-image: url(img/pexels-pixabay-159400.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: auto;
}

@font-face {
    font-family: Myriad_Pro_Light;
    src: url(/font/MyriadPro-Light.otf);
}

@font-face {
    font-family: Myriad_Pro_Regular;
    src: url(/font/MYRIADPRO-REGULAR.OTF);
}
/*barra principal*/

.barra {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5vw;
}

/*Barra Media Query*/
.barra2 {
    display: none;
}

.linea {
    width: 100%;
    height: 0.2vw;
    background-color: #FC6F1E;
}

.barra a {
    font-family: Myriad_Pro_Regular;
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
    font-weight: bolder;
    display: flex;
    align-items: center;
}
/*iconos barra*/
.a,
.r,
.e,
.r2,
.a2 {
    width: 2vw;
    margin-right: 1vw;
}

.perfil {
    display: flex;



}

/*inicio menu*/

#per {
    display: none;

}

.menuPerfil {
    position: absolute;
    background-color: lightgray;

    background-position: 8vw 0.5vw;
    border-radius: 2vw;
    height: 0vw;
    width: 3vw;
    margin-top: 8vw;
    margin-left: -5vw;
    overflow: hidden;
    font-size: 2vw;

}

hr {
    margin-left: 2vw;
    margin-right: 2vw;
}

.menuPerfil a {
    font-family: Myriad_Pro_Regular;
    font-size: 2vw;
    color: black;
    margin-left: 2vw;
    margin-top: 1vw;
}




#per:checked~.menuPerfil {
    height: 14vw;
    width: 15vw;
    transition: 0.2s;


}

/*final menu*/

.karioBarra {
    width: 2.5vw;
}

.opciones {
    width: 1.5vw;
    margin-right: 1.5vw;
}

.notificaciones {
    width: 1.5vw;
    margin-right: 1.5vw;
}

.fotoPerfil {
    width: 4vw;
    margin-top: 0.2vw;

}

.karioLogo img {
    margin-top: 10vw;
    opacity: 50%;
    width: 10vw;
    height: 10vw;


}

.caja {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2vw;
}

.caja p {
    font-family: Myriad_Pro_Regular;
    font-size: 2vw;
    margin-bottom: 0.5vw;
    margin-left: 1.5vw;
    color: white;
}

.caja img {
    width: 20vw;

}

.karioLogo {
    position: absolute;
    margin-left: 45vw;
    z-index: -1;
    margin-top: 5vw;
    opacity: 70%;
}

.caja input {
    border-radius: 1vw;
    width: 20vw;
    height: 2.5vw;
    border: 0.3vw solid #FC6F1E;
    padding-left: 2vw;
    margin-bottom: 3vw;
}

.derecho {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.botones {
    display: flex;
    justify-content: space-evenly;
}

.botones button {
    background-color: #FC6F1E;
    border-radius: 2vw;
    width: 10vw;
    height: 3vw;
    border: none;
}

.botones a {
    color: white;
    text-decoration: none;
    font-size: 1vw;
}

/*Media Query*/

@media only screen and (max-width: 768px) {
    .contenedor {
        background-color: black;
        background-image: url(img/pexels-pixabay-159400.png);
        background-size: 100%;
        background-repeat: repeat;


    }

    /*menu*/
    .perfil2 {
        display: flex;




    }

    .caja {
        margin-top: 10vw;
    }

    .karioBarra {
        width: 2.5vw;
    }

    .opciones2 {
        width: 5vw;
        position: absolute;
        top: 6vw;
        right: 25vw;

    }

    .notificaciones2 {
        position: absolute;
        width: 5vw;
        top: 6vw;
        right: 15vw;
    }

    .fotoPerfil2 {
        width: 10vw;
        position: absolute;
        top: 4vw;
        right: 2vw;

    }

    .karioLogo img {
        margin-top: 10vw;
        opacity: 50%;
        width: 10vw;
        height: 10vw;
    }

    .a,
    .r,
    .e,
    .r2,
    .a2 {
        width: 5vw;
        margin-right: 1vw;
        margin-left: 2vw;
        margin-top: 2vw;
    }

    #per2 {
        display: none;

    }

    .menuPerfil2 {
        position: absolute;
        background-color: lightgray;
        background-position: 8vw 0.5vw;
        border-radius: 2vw;
        height: 0vw;
        width: 0vw;
        right: 4vw;
        top: 20vw;
        overflow: hidden;
        font-size: 2vw;
    }

    hr {
        margin-left: 2vw;
        margin-right: 2vw;
    }

    .menuPerfil2 a {
        font-family: Myriad_Pro_Regular;
        font-size: 5vw;
        color: black;
        margin-left: 5vw;
        margin-top: 5vw;
        text-decoration: none;
    }




    #per2:checked~.menuPerfil2 {
        height: 24vw;
        width: 38vw;
        transition: 0.2s;
    }

    .barra {
        display: none;
    }

    .perfil2 {
        display: flex;
        justify-content: end;
        margin-top: -40vw;
    }


    .barra2 {
        margin-top: -0.2vw;
        width: 100%;
        height: 15vw;
        background-color: white;
        display: flex;
        margin: none;
        position: fixed;
        z-index: 5;
    }

    .linea2 {
        background-color: #FC6F1E;
        height: 1.5vw;
        width: 101%;
        position: fixed;
        top: 15vw;
        
    }

    #menuHambur {
        display: none;
    }

    .iconoMenu {
        color: rgb(0, 0, 0);
        font-size: 10vw;
        margin-left: 2vw;


    }

    .bar {
        display: flex;
        flex-direction: column;
        transition: 0.2s;
        width: 0vw;
        opacity: 0;
        z-index: 5;
    }

    .bar a {
        font-family: Myriad_Pro_Regular;
        color: white;
        text-decoration: none;
        font-size: 5vw;
        z-index: 5;
        margin-bottom: 2vw;
    }

    .bar .karioBarra {
        margin-left: 28vw;
        margin-top: 10vw;
        position: absolute;
        width: 20vw;
        opacity: 50%;

    }


    #menuHambur:checked~.bar {
        display: flex;
        flex-direction: column;
        background-image: url(img/pexels-pixabay-159400.png);
        background-color: rgba(0, 0, 0.893);

        width: 60vw;
        height: 45vw;
        z-index: 500;
        opacity: 1;
        position: absolute;

    }


    /*fin menu*/


    .caja {
        flex-direction: column;
        display: flex;
        align-items: center;

    }

    .caja p {
        font-size: 8vw;

    }

    .caja input {
        width: 60vw;
        height: 10vw;
        display: flex;
        justify-content: center;
        border: 0.5vw solid #FC6F1E;
        border-radius: 3vw;
    }

    .derecho {
        display: none;
    }


    .botones button {
        width: 25vw;
        height: 10vw;
        margin-top: 5vw;
        margin-bottom: 5vw;
        border-radius: 5vw;

    }

    .botones a {
        font-family: Myriad_Pro_Regular;
        font-size: 3.5vw;
    }

}