body{
    background-color: rgba(0, 0, 0, 0.893);
    background-image: url(img/pexels-pixabay-159400.png);
    background-size: 100%;
    background-repeat: no-repeat;  
    margin: auto; 
}

@font-face{
    font-family: Myriad_Pro_Light;
    src: url(/font/MyriadPro-Light.otf);
}
@font-face{
    font-family: Myriad_Pro_Regular;
    src: url(/font/MYRIADPRO-REGULAR.OTF);
}


.barra{
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5vw;
    font-family: Myriad_Pro_Regular;
    font-weight: bolder;
}
.karioBarra{
    position: absolute;
    width: 2vw;
    height: 2vw;
    left: 48vw;
}
.añadir-img{
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    top: 1.8vw;
    left: 10vw;
}
.añadir{
    position: absolute;
    color: black;
    left: 12vw;
    top: 0.8vw;
    font-size: 1.1vw;
}
.Refrescar-img{
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    top: 1.8vw;
    left: 22vw;
}
.Refrescar{
    position: absolute;
    color: black;
    left: 24vw;
    top: 0.8vw;
    font-size: 1.1vw;
}
.Eliminar-img{
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    top: 1.8vw;
    left: 34vw;
}
.Eliminar{
    position: absolute;
    color: black;
    left: 36vw;
    top: 0.8vw;
    font-size: 1.1vw;
}
.Reportar-img{
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    top: 1.8vw;
    left: 62vw;
}
.Reportar{
    position: absolute;
    color: black;
    left: 64vw;
    top: 0.8vw;
    font-size: 1.1vw;
}
.Ayuda-img{
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    top: 1.8vw;
    left: 76vw;
}
.Ayuda{
    position: absolute;
    color: black;
    left: 78vw;
    top: 0.8vw;
    font-size: 1.1vw;
}
.opciones{
    position: absolute;
    width: 1.1vw;
    height: 1.1vw;
    right: 8vw;
}
.notificaciones{
    position: absolute;
    width: 1vw;
    height: 1vw;
    right: 6vw;
}
.usuario{
    position: absolute;
    width: 3.3vw;
    height: 3.3vw;
    right: 1vw;
}
.linea{
    position: absolute;
    width: 100%;
    height: 0.18vw;
    background: #FC6F1E;
}
.text-reportar{
    position: absolute;
    color: white;
    font-size: 2.2vw;
    top: 4vw ;
    left: 45.5vw;
    font-family: Myriad_Pro_Regular;
}
.text-repo{
    position: absolute;
    color: white;
    font-size: 1.1vw;
    font-family: Myriad_Pro_Light;
    top: 8.5vw ;
    left: 32vw;
    text-align: center;
}
.cuadro-reporte{
    position: absolute;
    width: 70vw;
    height: 35vw;
    background: white;
    top: 15vw;
    left: 15vw;
    border-radius: 2vw;
    border: 0.2vw solid #FC6F1E;
    box-shadow: 0px 0px 27px -6px rgba(252,111,30,1);
}
.crear-reporte{
    position: absolute;
    color: black;
    font-size: 1.8vw;
    top: -1.3vw ;
    left: 29.5vw;
    font-family: Myriad_Pro_Regular;
}
.nombre-reporte{
    position: absolute;
    color: black;
    font-size: 1.4vw;
    font-family: Myriad_Pro_Light;
    top: 3.5vw;
    left: 6vw;
}
.nombre{
    position: absolute;
    border: 0.2vw solid #FC6F1E;
    border-radius: 2vw;
    width: 22vw;
    height: 2vw;
    font-size: 1.3vw;
    top: 7vw;
    left: 4vw;
    padding-left: 1vw;
}
.area-reporte{
    position: absolute;
    color: black;
    font-size: 1.4vw;
    font-family: Myriad_Pro_Light;
    top: 3.5vw;
    left: 44.5vw;
}
option{
    color: #000000;
    font-size: 1.3vw;
}
.ide::after {
    content: '';
    position: absolute;
    background-image: url(/img/flecha.svg);
    width: 1.5vw;
    height: 1vw;
    top: 7.9vw;
    left: 62.2vw;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
#documento{
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    border: 0.2vw solid #FC6F1E;
    border-radius: 2vw;
    width: 23vw;
    height: 2.6vw;
    font-size: 1.3vw;
    top: 7vw;
    left: 42vw;
    padding-left: 1vw;
    cursor: pointer;
}
.kari-logo{
    position: absolute;
    width: 4vw;
    height: 4vw;
    top: 7vw;
    left: 33vw;
    opacity: 50%;
}
.des-reporte{
    position: absolute;
    color: black;
    font-size: 1.4vw;
    font-family: Myriad_Pro_Light;
    top: 10vw;
    left: 6vw;
}
.reporte{
    position: absolute;
    border: 0.2vw solid lightgray;
    border-radius: 2vw;
    width: 60vw;
    height: 15vw;
    font-size: 1.3vw;
    top: 14vw;
    left: 4vw;
    padding-left: 1vw;
    background: rgb(230, 230, 230);
}
.boton{
    position: absolute;
    border-radius: 1.4vw;
    width: 12vw;
    height: 3vw;
    font-size: 1.3vw;
    top: 30.5vw;
    left: 4vw;
    background: #FC6F1E;
}
.boton-cancelar{
    position: absolute;
    border-radius: 1.4vw;
    width: 12vw;
    height: 2.8vw;
    font-size: 1.3vw;
    top: 30.5vw;
    left: 17vw;
    background: rgb(230, 230, 230);
    border: 0.2vw solid lightgray;
    cursor: pointer;
}
.text-boton{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 1.4vw;
    font-family: Myriad_Pro_Light;
    left: 2vw;
    margin-top: 0.6vw;
}
.text-cancelar{
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 1.4vw;
    font-family: Myriad_Pro_Light;
    left: 3.5vw;
    margin-top: 0.5vw;
}