body{
    background-color: black;
    background-image: url(img/pexels-pixabay-159400.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-content: center;
}


.contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
}




.cuadroBlanco{
    background-color: white;
    width: 45vw;
    height: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    padding-top: 2vw;
    margin-top: 10vw;
    
    
}

.letraBienvenido{
    text-align: center;
    font-size: 1.8vw;
}

.indicacion{
    margin-top: 0vw;
    font-size: 1vw;
}

.karioMedia{
    width: 5vw;
}

.letraUsuario{
    width: 1vw;
    margin-left: 2vw;
    margin-bottom: 0.5vw;
}

.usuario{
    width: 30vw;
    height: 2vw;
    border-radius: 50px;
}

.letraContrasena{
    width: 1vw;
    margin-left: 2vw;
    margin-bottom: 0.5vw;
}

.contrasena{
    width: 30vw;
    height: 2vw;
    border-radius: 50px;
}

.botonPanel{
    background-color: #ff7221;
    border: none;
    margin-top: 1vw;
    border-radius: 50px;
    width: 15vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letraIngresar{
    color: white;
    font-size: 1vw;
}

.problemas{
    font-size: 0.8vw;
}