body{
    background-color: black;
    background-image: url(img/pexels-pixabay-159400.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.logo{
    display: flex;
    justify-content: center;
    margin-top: 15%;
    animation-name: kairo;
    animation-duration: 3s;
    visibility: visible;
}

.karioLogo{
    width: 15vw;
}